

@font-face {
    font-family: 'Akrobat';
    src:  url('../../fonts/MuseoSans/MuseoSans-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Akrobat-Black';
    src:  url('../../fonts/MuseoSans/MuseoSans-900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat-bold';
    src:  url('../../fonts/MuseoSans/MuseoSans-700.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat-ExtraBold';
    src:  url('../../fonts/MuseoSans/MuseoSans-900.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Deadstock';
    src:  url('../../fonts/Deadstock/deadstock-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
